In [1]:
import numpy as np
import pandas as pd
import pickle


from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('CarData.csv')

In [3]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [5]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [6]:
df['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [7]:
df['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [8]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

# Quality
- year has many non-year value
- year object to int
- price has ask for price
- price object to int
- kms_driven has kms with integers
- kms_driven has nan values
- fuel_type has nan values
- keep first 3 word of name

# Cleaning

In [9]:
backup = df.copy()

In [10]:
df['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
887    zest
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 892, dtype: object

In [11]:
df['year'].str.isnumeric().sum()

842

In [12]:
df = df[df['year'].str.isnumeric()]

In [13]:
df.shape

(842, 6)

In [14]:
df['year'] = df['year'].astype(int)

<ipython-input-14-4358701cf1a2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['year'].astype(int)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [16]:
df['Price']

0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
886         3,00,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 842, dtype: object

In [17]:
df['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

In [18]:
df = df[df['Price'] != "Ask For Price"]

In [19]:
df['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [20]:
df['Price'] = df['Price'].str.replace(',', '').astype(int)

In [21]:
df['Price']

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int32

In [22]:
df['kms_driven']

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [23]:
df['kms_driven'].str.split(' ')

0        [45,000, kms]
1            [40, kms]
3        [28,000, kms]
4        [36,000, kms]
6        [41,000, kms]
            ...
886    [1,32,000, kms]
888      [27,000, kms]
889      [40,000, kms]
890           [Petrol]
891           [Petrol]
Name: kms_driven, Length: 819, dtype: object

In [24]:
df['kms_driven'].str.split(' ').str.get(0)

0        45,000
1            40
3        28,000
4        36,000
6        41,000
         ...
886    1,32,000
888      27,000
889      40,000
890      Petrol
891      Petrol
Name: kms_driven, Length: 819, dtype: object

In [25]:
df['kms_driven'] = df['kms_driven'].str.split(' ').str.get(0).str.replace(',', '')

In [26]:
df = df[df['kms_driven'].str.isnumeric()]

In [27]:
df['kms_driven'] = df['kms_driven'].astype(int)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [29]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [30]:
df['fuel_type'].isnull().sum()

1

In [31]:
df = df[~df['fuel_type'].isnull()]

In [32]:
df['fuel_type'].isnull().sum()

0

In [33]:
df['fuel_type'].value_counts()

Petrol    428
Diesel    386
LPG         2
Name: fuel_type, dtype: int64

In [34]:
df = df[df['fuel_type'] != "LPG"]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 814 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        814 non-null    object
 1   company     814 non-null    object
 2   year        814 non-null    int32
 3   Price       814 non-null    int32
 4   kms_driven  814 non-null    int32
 5   fuel_type   814 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.0+ KB

In [36]:
df['name']

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 814, dtype: object

In [37]:
df['name'].str.split(' ')

0        [Hyundai, Santro, Xing, XO, eRLX, Euro, III]
1                        [Mahindra, Jeep, CL550, MDI]
3      [Hyundai, Grand, i10, Magna, 1.2, Kappa, VTVT]
4              [Ford, EcoSport, Titanium, 1.5L, TDCi]
6                                        [Ford, Figo]
                            ...
883                  [Maruti, Suzuki, Ritz, VXI, ABS]
885                  [Tata, Indica, V2, DLE, BS, III]
886                          [Toyota, Corolla, Altis]
888                          [Tata, Zest, XM, Diesel]
889                            [Mahindra, Quanto, C8]
Name: name, Length: 814, dtype: object

In [38]:
df['name'].str.split(' ').str.slice(0, 3)

0         [Hyundai, Santro, Xing]
1         [Mahindra, Jeep, CL550]
3           [Hyundai, Grand, i10]
4      [Ford, EcoSport, Titanium]
6                    [Ford, Figo]
                  ...
883        [Maruti, Suzuki, Ritz]
885            [Tata, Indica, V2]
886      [Toyota, Corolla, Altis]
888              [Tata, Zest, XM]
889        [Mahindra, Quanto, C8]
Name: name, Length: 814, dtype: object

In [39]:
df['name'].str.split(' ').str.slice(0, 3).str.join(' ')

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 814, dtype: object

In [40]:
df['name'] = df['name'].str.split(' ').str.slice(0, 3).str.join(' ')

In [41]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[814 rows x 6 columns]

In [42]:
df['name'].value_counts()

Maruti Suzuki Swift            51
Maruti Suzuki Alto             42
Maruti Suzuki Wagon            28
Maruti Suzuki Ertiga           16
Hyundai Elite i20              15
                               ..
Tata Manza Aqua                 1
Volkswagen Polo Comfortline     1
Tata Nano GenX                  1
Hyundai Accent Executive        1
Tata Aria Pleasure              1
Name: name, Length: 254, dtype: int64

In [43]:
df.describe()

              year         Price     kms_driven
count   814.000000  8.140000e+02     814.000000
mean   2012.444717  4.122255e+05   46106.675676
std       4.007836  4.756391e+05   34096.604055
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999995e+05   41000.000000
75%    2015.000000  4.937500e+05   56437.500000
max    2019.000000  8.500003e+06  400000.000000

In [44]:
df[df['Price'] > 6e6]

                   name   company  year    Price  kms_driven fuel_type
562  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

### Only 1 car Price is Over Price

In [45]:
df[df['Price'] < 6e6]

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[813 rows x 6 columns]

In [46]:
df = df[df['Price'] < 6e6]

In [47]:
df = df.reset_index(drop= True)

In [48]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
808      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
809          Tata Indica V2      Tata  2009  110000       30000    Diesel
810    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
811            Tata Zest XM      Tata  2018  260000       27000    Diesel
812      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[813 rows x 6 columns]

In [49]:
df.to_csv('CleanCarData.csv')

In [50]:
X = df.drop(columns='Price')
Y = df[['Price']]

In [51]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
808      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
809          Tata Indica V2      Tata  2009       30000    Diesel
810    Toyota Corolla Altis    Toyota  2009      132000    Petrol
811            Tata Zest XM      Tata  2018       27000    Diesel
812      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[813 rows x 5 columns]

In [52]:
Y

      Price
0     80000
1    425000
2    325000
3    575000
4    175000
..      ...
808  270000
809  110000
810  300000
811  260000
812  390000

[813 rows x 1 columns]

In [53]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.2, random_state= 2)

In [54]:
y_test

       Price
335   449999
15    500000
488   149000
576   295000
158   168000
..       ...
455   488000
204   500000
687  1499000
602   190000
537   265000

[163 rows x 1 columns]

In [55]:
y_test

       Price
335   449999
15    500000
488   149000
576   295000
158   168000
..       ...
455   488000
204   500000
687  1499000
602   190000
537   265000

[163 rows x 1 columns]

In [56]:
ohe = OneHotEncoder(drop='first', sparse=False, dtype= np.int32)

In [57]:
ohe.fit(X[['name', 'company', 'fuel_type']])

OneHotEncoder(drop='first', dtype=<class 'numpy.int32'>, sparse=False)

In [58]:
colum_trans = make_column_transformer((OneHotEncoder(categories= ohe.categories_), ['name', 'company', 'fuel_type']), remainder= 'passthrough')

In [59]:
lr = LinearRegression()

In [60]:
pipe = make_pipeline(colum_trans, lr)

In [61]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [62]:
y_pred = pipe.predict(x_test)

In [63]:
r2_score(y_test, y_pred)

0.7235627675566969

In [64]:
scores = []
for i in range(1000):
    x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.2, random_state= i)
    lr = LinearRegression()
    pipe = make_pipeline(colum_trans, lr)
    pipe.fit(x_train, y_train)
    y_pred = pipe.predict(x_test)
    print(r2_score(y_test, y_pred), i)
    scores.append(r2_score(y_test, y_pred))

0.812445710428308 0
0.4277733120356222 1
0.7235627675566969 2
0.7898566910681861 3
0.7998729181608432 4
0.7876144710558863 5
0.680683040665903 6
0.7176374930280491 7
0.7210272180918349 8
0.7809648111118261 9
0.798989133874906 10
0.749269743261555 11
0.7658727279945504 12
0.8102641486341744 13
0.744943297353361 14
0.8449027677413208 15
0.6201459422484756 16
0.7546216620048504 17
0.7865867175885279 18
0.7106546819837607 19
0.6345421231407369 20
0.7226701170858703 21
0.8271827288149103 22
0.6468590909751786 23
0.6125126732189703 24
0.5776830614110898 25
0.7103876214928717 26
0.7389529610877827 27
0.7234394311535981 28
0.5675935120594124 29
0.6560147157201659 30
0.6398203028175818 31
0.7743305661150897 32
0.7546928090478988 33
0.7892634960378386 34
0.835679178070184 35
0.6414935985898548 36
0.5912755319746654 37
0.650933221565953 38
0.7290935258046523 39
0.2750802083507069 40
0.7599149520408851 41
0.6175548004721385 42
0.43712319746296313 43
0.6674619258347246 44
0.7800457841533301 45
0.7330763544540806 46
0.6047097710225593 47
0.7336981385957463 48
0.6012000446980343 49
0.7361767878252419 50
0.6555417237589015 51
0.6000585326803671 52
0.7735630801313733 53
0.6498983117096248 54
0.7391524791845181 55
0.74959821376534 56
0.7551405136322358 57
0.8222251400813465 58
0.4905801171818508 59
0.6256195797427144 60
0.7013683275381211 61
0.8011035880383095 62
0.7085279576201318 63
0.7078066813183291 64
0.7458292018135464 65
0.6574789491971782 66
0.775108732299225 67
0.7698274747367031 68
0.7090751203902161 69
0.709096024163298 70
0.6857352086839523 71
0.7715425357746261 72
0.6214632849041644 73
0.7946885417869477 74
0.6827526906271951 75
0.5917804553722275 76
0.6305279927097224 77
0.7370220232910999 78
0.741832919214427 79
0.6544239341662971 80
0.6674135871903251 81
0.7683009296409697 82
0.5563505421505452 83
0.6848710263289969 84
0.6963596130032639 85
0.7819530070635802 86
0.6419574306080706 87
0.7451347517967217 88
0.6707939234260456 89
0.840580569195118 90
0.6443464514500306 91
0.5603047749356296 92
0.47721892541336475 93
0.5904842515754442 94
0.5998264138428073 95
0.8061560232526345 96
0.7052542959101331 97
0.7882397367344525 98
0.4658577158648628 99
0.7191946791153796 100
0.8019141414558296 101
0.7510588956077078 102
0.7302654300375007 103
0.8851849052663684 104
0.7512159147515269 105
0.37987077711227035 106
0.6179074934031066 107
0.6911450412653684 108
0.7743314640460743 109
0.5359178571744818 110
0.7503449552352011 111
0.7100442456992904 112
0.7457253810013096 113
0.7787980505764973 114
0.7138351161614789 115
0.5379828853663406 116
0.7241341038743516 117
0.6333042417955372 118
0.7576950774148712 119
0.8147126625288739 120
0.7844167940819876 121
0.6781052922846134 122
0.7032653823145674 123
0.8685264722838438 124
0.69997927483058 125
0.6681187454845698 126
0.8601813133145717 127
0.6130579616712138 128
0.7077676414412875 129
0.6110541896652419 130
0.5572253981834073 131
0.6565407365109406 132
0.6036595474215705 133
0.749002974857524 134
0.7918814635159377 135
0.7133299817671679 136
0.831229811786437 137
0.7872957965869927 138
0.6285881987393073 139
0.7622668248364654 140
0.5641918085230486 141
0.7690559082175403 142
0.6689572020290562 143
0.7234690977008489 144
0.6361697235699217 145
0.7137877949006866 146
0.6396010897132274 147
0.6016794015209752 148
0.6916296286015404 149
0.7809938299124162 150
0.5358068393806854 151
0.6105352279540609 152
0.606593092367747 153
0.6944851738946973 154
0.7547407297267392 155
0.46928608221260326 156
0.7310017032588798 157
0.675835642280695 158
0.7600606154230012 159
0.6425589588982388 160
0.6150652398510533 161
0.8126488824212983 162
0.7020182659118457 163
0.556237927445751 164
0.8610728876211371 165
0.6705228866189579 166
0.5260831829810917 167
0.6974198925019317 168
0.7181839628997794 169
0.7728581589133294 170
0.6890176281394244 171
0.8423275439182026 172
0.7634293805239266 173
0.6581701520261449 174
0.749124108756658 175
0.643655571590189 176
0.7324623074076184 177
0.5935879982089362 178
0.810385091315061 179
0.723096812009081 180
0.5143904741374683 181
0.736759585873189 182
0.7481088513305294 183
0.5851809245326344 184
0.7072786275992478 185
0.6384986689030397 186
0.7111482733458223 187
0.7267747762885173 188
0.63991380521118 189
0.6762610256421331 190
0.6856461188665535 191
0.7681640842330022 192
0.699705768769227 193
0.7489106947857846 194
0.6617882130142627 195
0.779562534207462 196
0.8057533629130532 197
0.46328332592097465 198
0.7673083740385225 199
0.7655979068631006 200
0.552788472557388 201
0.5491682826547895 202
0.7974549043437165 203
0.49209852724352754 204
0.7534840113272652 205
0.839444430041314 206
0.7360281329062919 207
0.6710547562706859 208
0.6512884185093959 209
0.6554384137174061 210
0.7143116634019772 211
0.714536054207265 212
0.6375762313630173 213
0.5609570713393943 214
0.7900424165002508 215
0.6166510925463078 216
0.6497521745881332 217
0.7068887188312402 218
0.6045378545626845 219
0.6527115567138568 220
0.7851769226342435 221
0.7591005239147114 222
0.8192646573021762 223
0.7233853740701655 224
0.8024867404408794 225
0.621851381995737 226
0.6366727380677197 227
0.7816354743526792 228
0.7016582119692566 229
0.6443189988471067 230
0.693050809272315 231
0.7109914304457773 232
0.6563577484157916 233
0.6948000575702348 234
0.6978628346579302 235
0.7103766019295025 236
0.6238083143751694 237
0.5467707558809465 238
0.7309945230382637 239
0.7525519000099363 240
0.532040376120289 241
0.5864661396377394 242
0.8204426298126901 243
0.6065863450993032 244
0.8314426990187621 245
0.7103513914841106 246
0.7143613962244701 247
0.7333225382909997 248
0.571869925010873 249
0.8458409996875336 250
0.6719143101732681 251
0.6553321315013662 252
0.7179200035603803 253
0.596739408425131 254
0.6152261155646468 255
0.7801367518881344 256
0.7400780264087905 257
0.6903227279997362 258
0.7546245664111109 259
0.781873417576014 260
0.6749781685236236 261
0.7821728402102289 262
0.5668672311415264 263
0.6726657400535017 264
0.5208759453011349 265
0.6654051177401789 266
0.7258062014091173 267
0.7193891785806328 268
0.580006409968039 269
0.7775942800608047 270
0.7850709916637875 271
0.6554125017751407 272
0.772477132365451 273
0.7571357448277978 274
0.681741271312555 275
0.8305092943515858 276
0.7300006577517193 277
0.7243795692029147 278
0.8302823744901209 279
0.4573909884149946 280
0.7212956702299403 281
0.5671632642970518 282
0.7685323085266282 283
0.82984884416675 284
0.5913671468221802 285
0.817581555481314 286
0.6020709455462134 287
0.6644904792671847 288
0.6570728394411549 289
0.7439133571855752 290
0.7296747714076405 291
0.6811146037930393 292
0.8235829427615584 293
0.8251279071854172 294
0.7279537078420732 295
0.7998215052062381 296
0.769394466001526 297
0.5966475876719803 298
0.5428869448251533 299
0.7507304454788357 300
0.8087067803136261 301
0.6907743880824233 302
0.624789851444455 303
0.655463658177136 304
0.6645696028770287 305
0.7980633316956984 306
0.5669703101860963 307
0.8049319672414275 308
0.7131695236377698 309
0.7417183144824357 310
0.6230155063402358 311
0.738134330946436 312
0.646861239613126 313
0.7237913796980397 314
0.7667801675431347 315
0.6486246015227938 316
0.752401960667083 317
0.695088623883389 318
0.730532526455132 319
0.5872821541896236 320
0.7740645878293942 321
0.6890450917454585 322
0.6115468366186662 323
0.7088421778827108 324
0.5470688347757735 325
0.6743344682371561 326
0.6943121525922052 327
0.7216227763189822 328
0.5953352921867878 329
0.749525756754559 330
0.6974776243396155 331
0.6621145417671916 332
0.6164732145019836 333
0.7765826836879663 334
0.7366642884244907 335
0.6538107181973998 336
0.6993197132455851 337
0.5787312803403237 338
0.7754820629410295 339
0.5037494709422241 340
0.7328665285802907 341
0.7995541508836458 342
0.706504969690205 343
0.7491077614564539 344
0.6860339877484938 345
0.5629004332203965 346
0.7521035215163507 347
0.8020217696907435 348
0.6760822589131046 349
0.6254746466765593 350
0.6953382007173199 351
0.601330726540685 352
0.710493505561081 353
0.8059719023040023 354
0.7349293400096883 355
0.8432070231331112 356
0.5955504105728746 357
0.6943480199771678 358
0.7412638358980463 359
0.6672468130767999 360
0.7749352476522392 361
0.8966398153657811 362
0.6728673289800442 363
0.8112942470610032 364
0.7129952520692033 365
0.700492744617198 366
0.6616772904163413 367
0.7362538372501002 368
0.7900755495552781 369
0.5050160002208703 370
0.6575609599953309 371
0.59008085386727 372
0.4750023539451389 373
0.6017819325301172 374
0.6666831129955475 375
0.836663052629435 376
0.6892677282227478 377
0.7979802565230087 378
0.765119958415351 379
0.48104654023331705 380
0.5696977974837034 381
0.7790487175850601 382
0.8128727726196872 383
0.6874078988888392 384
0.6663982410385092 385
0.6833002732631925 386
0.7294545062426365 387
0.5447973310182419 388
0.5425270649266933 389
0.7830324959250353 390
0.6753753777887258 391
0.7746878198748299 392
0.5411954508848045 393
0.6488166572573739 394
0.7145367053884117 395
0.5783945888195201 396
0.7248391094291046 397
0.7389073479864263 398
0.7004742239064866 399
0.6991068872988403 400
0.6246210753225516 401
0.7652220866577049 402
0.7135077453073658 403
0.6871882855463596 404
0.7592262790499099 405
0.6660043460034368 406
0.7740742135583121 407
0.5430854846411659 408
0.7223457895446047 409
0.5704932467021713 410
0.755383972052343 411
0.7020028412315544 412
0.5939625377827262 413
0.38028406708837603 414
0.736472230523864 415
0.7399459587299377 416
0.7262795270340386 417
0.5552054352366198 418
0.7870075485111566 419
0.6867472790967883 420
0.5922043601507846 421
0.8049793482130533 422
0.7418694046006687 423
0.7102574589947295 424
0.6338279042162389 425
0.516468688264794 426
0.8878806945681568 427
0.7737063039789573 428
0.733563202620472 429
0.6294623049920025 430
0.8127959954363504 431
0.7861700708912627 432
0.8808954369289906 433
0.6645562790962574 434
0.7461173826177742 435
0.7651866300318608 436
0.7642575292469047 437
0.70305554791142 438
0.7574143454900716 439
0.7010514659871032 440
0.7796350971837287 441
0.7841644661818954 442
0.8067272904273276 443
0.7828183579150305 444
0.7304039505061077 445
0.8232253632377946 446
0.66857500027987 447
0.771334203146591 448
0.6525246443583823 449
0.7543122118868019 450
0.5718179304166094 451
0.7727077088466906 452
0.7282889536797101 453
0.6533908038091429 454
0.7207552391399425 455
0.5289753187375109 456
0.6521346675185083 457
0.5143029998336566 458
0.6359437640540718 459
0.7514634724606752 460
0.6069468339497228 461
0.6198067364292895 462
0.7483315274965182 463
0.5564339237291991 464
0.6029193198953223 465
0.7199768952386492 466
0.6331247365312185 467
0.7767925171224597 468
0.7962896250703736 469
0.5991044752953802 470
0.7580132982825067 471
0.4240283784874953 472
0.6977497226097469 473
0.6485616421035616 474
0.7241842857206633 475
0.788767965168837 476
0.803675667284183 477
0.8585907533835568 478
0.7240034231665029 479
0.7485424855229049 480
0.7397239962479245 481
0.785954280659902 482
0.7806574104459361 483
0.5408895220905737 484
0.6709558619080016 485
0.6783824228744328 486
0.7626714431668105 487
0.8271176669439669 488
0.7662749455611506 489
0.7137751121182824 490
0.7886744044187239 491
0.4147770766317841 492
0.7050312319229364 493
0.7188063865774943 494
0.6051392847589088 495
0.7008832042165742 496
0.816491749576651 497
0.4830191580576554 498
0.8062608804540494 499
0.7235529788886023 500
0.7160825470516308 501
0.6850397133062905 502
0.7142620714981697 503
0.711177687174203 504
0.7540945467893072 505
0.7363611577130595 506
0.8083778175501392 507
0.5989585683051116 508
0.6831396268717593 509
0.5720869507174531 510
0.7063239751278686 511
0.6970704977288422 512
0.7284753791308967 513
0.7106311935687195 514
0.8722391612308813 515
0.8299899406963678 516
0.7234376131979587 517
0.6923462086546119 518
0.7289708506535821 519
0.8352439309293064 520
0.7132714520111909 521
0.57659920100406 522
0.8503649593861617 523
0.5464971494549392 524
0.6480720436770894 525
0.8386809680213443 526
0.7299580642074903 527
0.7991391883452361 528
0.7504499364667526 529
0.7228368587793838 530
0.7894268760111918 531
0.7623082315322688 532
0.8341790227098482 533
0.6036294118996716 534
0.5899799804783914 535
0.7216539138791078 536
0.5152382011495742 537
0.7230429159153231 538
0.5292608358824961 539
0.776786479409171 540
0.6600536137860218 541
0.8109713947256985 542
0.6126742740528579 543
0.7137296000569509 544
0.6585178462244305 545
0.7001453543021547 546
0.3847431860853734 547
0.7714107098830779 548
0.7467198973213636 549
0.7881436650595477 550
0.7112945081887724 551
0.7812363866645644 552
0.7414480842604615 553
0.6265205375406495 554
0.8045376877656651 555
0.4728669359400801 556
0.721913410800816 557
0.7635596679677498 558
0.7651585473322396 559
0.5177585742602507 560
0.4961529601174127 561
0.789522919879263 562
0.666934663189545 563
0.6276051245577277 564
0.8297219919583426 565
0.6514623584700137 566
0.56436533432242 567
0.8403015369009255 568
0.7729043525171331 569
0.7134184415488811 570
0.6160035840655581 571
0.7759459539795137 572
0.74258280861464 573
0.5912476816870255 574
0.5306581669086565 575
0.7958780136470557 576
0.8196448464233985 577
0.6974638635380187 578
0.6933146349232266 579
0.5844453690332344 580
0.7770209141060879 581
0.5760033931622364 582
0.5563137042571153 583
0.5734139383753818 584
0.6332779757398006 585
0.7227267538877393 586
0.6773318754567891 587
0.7519031101066653 588
0.6450976953675132 589
0.5287346936430062 590
0.6219203411482652 591
0.675746476043662 592
0.8106119033654096 593
0.6608137922289532 594
0.59602048225045 595
0.6793790302608972 596
0.6132264851568232 597
0.5721992082428675 598
0.7604161518376341 599
0.5354767741512576 600
0.7096330748081285 601
0.7577387735627038 602
0.6395013153380951 603
0.6123761529533124 604
0.5912631935973622 605
0.5172867142469881 606
0.5789637688966207 607
0.6141968963729514 608
0.6359847638701916 609
0.5528527044286369 610
0.6531725319555847 611
0.6424283092974039 612
0.7353499931489171 613
0.7492293202053023 614
0.5427576473140695 615
0.33791419116250243 616
0.8041371512665274 617
0.767334501433651 618
0.797461167831798 619
0.6623907962770428 620
0.7357508665425487 621
0.7222985667544343 622
0.7164204225980062 623
0.5657355041777765 624
0.796426985450899 625
0.5127598448073767 626
0.7035088876074237 627
0.7007783694492151 628
0.7079269768502437 629
0.6127107750166183 630
0.6643216435472538 631
0.5922166586393958 632
0.7410371785524601 633
0.6919384209479967 634
0.552125244992717 635
0.651582209049862 636
0.7731208796533214 637
0.7734515751139203 638
0.6523096673721012 639
0.8349632463281449 640
0.7893159934694927 641
0.6769074124363608 642
0.7463267142794663 643
0.6584411168520025 644
0.7213349966153287 645
0.7504355403452321 646
0.5683701933518976 647
0.6957998264765017 648
0.7244816152549427 649
0.658814281226755 650
0.7155272626690242 651
0.8365608831805927 652
0.5991210118038534 653
0.6834694945696463 654
0.7170981403677945 655
0.5078914072765806 656
0.5337257785697305 657
0.7333223214233726 658
0.7734940923464805 659
0.6101136455280138 660
0.7218348408856172 661
0.6661461983057866 662
0.725163245857761 663
0.7005340592179448 664
0.8084488792588315 665
0.6507173677725739 666
0.728275091123738 667
0.7764481452813997 668
0.7383922777844178 669
0.8427145297779819 670
0.6082029163371161 671
0.8161238880001048 672
0.7707403491831191 673
0.6834693119670356 674
0.6720619609209648 675
0.6920330476745971 676
0.5936318481916563 677
0.7607361919775728 678
0.6867365132309222 679
0.7440184534518044 680
0.6120762042376994 681
0.6906350692798995 682
0.7906562107251348 683
0.6678294651207579 684
0.5670413303171071 685
0.8345311954435589 686
0.6996318517208073 687
0.5751723652950673 688
0.8237174143303174 689
0.7032218469548742 690
0.7889622650561998 691
0.5451126771485149 692
0.692212566139157 693
0.6599828669180825 694
0.808768422811886 695
0.6892054868511379 696
0.7133399848110319 697
0.7851109748989701 698
0.5882425845948073 699
0.7217027106342986 700
0.6312931150695966 701
0.5589456828159913 702
0.52602227422131 703
0.7210867264359355 704
0.7354898627698059 705
0.7310060143839983 706
0.5630343603528454 707
0.6867491337334997 708
0.6016004652601282 709
0.6017935753003856 710
0.6490253455617916 711
0.844015837445703 712
0.8530887441083269 713
0.7168598710450949 714
0.7071837006066641 715
0.6680002955357004 716
0.7706349122593158 717
0.6096273681149267 718
0.806081803088286 719
0.6521476719142247 720
0.7141691737308764 721
0.7468560471909451 722
0.7764301537991872 723
0.7354725070890279 724
0.5947874828767039 725
0.7434993328359814 726
0.7233085950958006 727
0.6511642911144938 728
0.6124464263239944 729
0.728936234393768 730
0.6779210043154704 731
0.8248624250368455 732
0.6700656486870422 733
0.6362312057214969 734
0.5535161628419847 735
0.6963533814156061 736
0.626976696055763 737
0.6716835718369223 738
0.47667730060390545 739
0.7110345905042639 740
0.5579947814437414 741
0.7364455847945262 742
0.793557490714161 743
0.5454518921351175 744
0.7763537224675223 745
0.7507204044288844 746
0.5542519872803708 747
0.5195736298283345 748
0.5988314882824842 749
0.6894372727821254 750
0.7525664447750734 751
0.8316393003105388 752
0.7503723064042399 753
0.5826986076094871 754
0.6813406836936442 755
0.7436656756679418 756
0.759444339538399 757
0.5418160257021726 758
0.7842285045939257 759
0.664309978688628 760
0.59399966099551 761
0.8199237972696802 762
0.7934888284312285 763
0.5799041976564947 764
0.7912358498991224 765
0.7247351904362265 766
0.6289277929908766 767
0.7476645701873061 768
0.6371039148861105 769
0.6654127207849185 770
0.7078569963459065 771
0.7847626121357765 772
0.7340003685952439 773
0.6652135010931144 774
0.7126656440526971 775
0.6325773675232977 776
0.5683779774816509 777
0.6660087647423063 778
0.6898101298909574 779
0.7468085597959889 780
0.647552407395307 781
0.8190155435374162 782
0.732714515193804 783
0.6123083310090593 784
0.7407750059494609 785
0.6794796960831049 786
0.769677190849161 787
0.8287688837751264 788
0.7031631815131312 789
0.6777332375964427 790
0.8844867960279377 791
0.7458100013003348 792
0.8331994216340416 793
0.7160123201089115 794
0.7884420877725415 795
0.7275432602739211 796
0.7971797808684025 797
0.7035048123635466 798
0.7499190898919867 799
0.8050697138036982 800
0.5099227904973864 801
0.675171127369012 802
0.7372149546179492 803
0.8265771312913384 804
0.6016037933311211 805
0.7210366336916365 806
0.6784869171754544 807
0.5306171087510062 808
0.7061386589265768 809
0.7884107305717759 810
0.7143298963206617 811
0.7633314097431462 812
0.5930393960126932 813
0.6318161340363644 814
0.6593611887660403 815
0.716157981106737 816
0.7320436288307395 817
0.6593682018663507 818
0.6764306378089029 819
0.7828446475294037 820
0.7470085947310494 821
0.7444539324572292 822
0.6198036178205222 823
0.5492866776698124 824
0.6692964205251024 825
0.6332975397509623 826
0.7971601151846075 827
0.6900787640508796 828
0.6656263040285241 829
0.7477315180444548 830
0.48052007188454127 831
0.7598854904049697 832
0.6754116285250129 833
0.6019844952473263 834
0.7619393459341631 835
0.7162427525434584 836
0.7097392977820662 837
0.6924265263294935 838
0.7587939001717979 839
0.7994105718691918 840
0.8335497607494442 841
0.8211593041546483 842
0.5607963036061037 843
0.677517203789906 844
0.5936840216021644 845
0.707999314127878 846
0.7251096986765263 847
0.6458961093635509 848
0.6997254279733424 849
0.7984105706664553 850
0.7778839506075556 851
0.5783947184689209 852
0.7338686515880648 853
0.680816995873608 854
0.6963121823362358 855
0.5033637651097072 856
0.7927306926377284 857
0.7663975642059095 858
0.6411119747873528 859
0.7907711959518905 860
0.5123998035376496 861
0.5461639540191989 862
0.6737701061734327 863
0.6529683838569746 864
0.7731899445559456 865
0.5981454952795189 866
0.7467320917652558 867
0.3768636380049616 868
0.6716233092742581 869
0.7569662162626667 870
0.6487058852013013 871
0.5923755245977305 872
0.801786784289088 873
0.776924897118618 874
0.5897045686020161 875
0.7440963801169109 876
0.6812972409086469 877
0.6739019180618508 878

In [65]:
scores

[0.812445710428308,
 0.4277733120356222,
 0.7235627675566969,
 0.7898566910681861,
 0.7998729181608432,
 0.7876144710558863,
 0.680683040665903,
 0.7176374930280491,
 0.7210272180918349,
 0.7809648111118261,
 0.798989133874906,
 0.749269743261555,
 0.7658727279945504,
 0.8102641486341744,
 0.744943297353361,
 0.8449027677413208,
 0.6201459422484756,
 0.7546216620048504,
 0.7865867175885279,
 0.7106546819837607,
 0.6345421231407369,
 0.7226701170858703,
 0.8271827288149103,
 0.6468590909751786,
 0.6125126732189703,
 0.5776830614110898,
 0.7103876214928717,
 0.7389529610877827,
 0.7234394311535981,
 0.5675935120594124,
 0.6560147157201659,
 0.6398203028175818,
 0.7743305661150897,
 0.7546928090478988,
 0.7892634960378386,
 0.835679178070184,
 0.6414935985898548,
 0.5912755319746654,
 0.650933221565953,
 0.7290935258046523,
 0.2750802083507069,
 0.7599149520408851,
 0.6175548004721385,
 0.43712319746296313,
 0.6674619258347246,
 0.7800457841533301,
 0.7330763544540806,
 0.6047097710225593,
 0.7336981385957463,
 0.6012000446980343,
 0.7361767878252419,
 0.6555417237589015,
 0.6000585326803671,
 0.7735630801313733,
 0.6498983117096248,
 0.7391524791845181,
 0.74959821376534,
 0.7551405136322358,
 0.8222251400813465,
 0.4905801171818508,
 0.6256195797427144,
 0.7013683275381211,
 0.8011035880383095,
 0.7085279576201318,
 0.7078066813183291,
 0.7458292018135464,
 0.6574789491971782,
 0.775108732299225,
 0.7698274747367031,
 0.7090751203902161,
 0.709096024163298,
 0.6857352086839523,
 0.7715425357746261,
 0.6214632849041644,
 0.7946885417869477,
 0.6827526906271951,
 0.5917804553722275,
 0.6305279927097224,
 0.7370220232910999,
 0.741832919214427,
 0.6544239341662971,
 0.6674135871903251,
 0.7683009296409697,
 0.5563505421505452,
 0.6848710263289969,
 0.6963596130032639,
 0.7819530070635802,
 0.6419574306080706,
 0.7451347517967217,
 0.6707939234260456,
 0.840580569195118,
 0.6443464514500306,
 0.5603047749356296,
 0.47721892541336475,
 0.5904842515754442,
 0.5998264138428073,
 0.8061560232526345,
 0.7052542959101331,
 0.7882397367344525,
 0.4658577158648628,
 0.7191946791153796,
 0.8019141414558296,
 0.7510588956077078,
 0.7302654300375007,
 0.8851849052663684,
 0.7512159147515269,
 0.37987077711227035,
 0.6179074934031066,
 0.6911450412653684,
 0.7743314640460743,
 0.5359178571744818,
 0.7503449552352011,
 0.7100442456992904,
 0.7457253810013096,
 0.7787980505764973,
 0.7138351161614789,
 0.5379828853663406,
 0.7241341038743516,
 0.6333042417955372,
 0.7576950774148712,
 0.8147126625288739,
 0.7844167940819876,
 0.6781052922846134,
 0.7032653823145674,
 0.8685264722838438,
 0.69997927483058,
 0.6681187454845698,
 0.8601813133145717,
 0.6130579616712138,
 0.7077676414412875,
 0.6110541896652419,
 0.5572253981834073,
 0.6565407365109406,
 0.6036595474215705,
 0.749002974857524,
 0.7918814635159377,
 0.7133299817671679,
 0.831229811786437,
 0.7872957965869927,
 0.6285881987393073,
 0.7622668248364654,
 0.5641918085230486,
 0.7690559082175403,
 0.6689572020290562,
 0.7234690977008489,
 0.6361697235699217,
 0.7137877949006866,
 0.6396010897132274,
 0.6016794015209752,
 0.6916296286015404,
 0.7809938299124162,
 0.5358068393806854,
 0.6105352279540609,
 0.606593092367747,
 0.6944851738946973,
 0.7547407297267392,
 0.46928608221260326,
 0.7310017032588798,
 0.675835642280695,
 0.7600606154230012,
 0.6425589588982388,
 0.6150652398510533,
 0.8126488824212983,
 0.7020182659118457,
 0.556237927445751,
 0.8610728876211371,
 0.6705228866189579,
 0.5260831829810917,
 0.6974198925019317,
 0.7181839628997794,
 0.7728581589133294,
 0.6890176281394244,
 0.8423275439182026,
 0.7634293805239266,
 0.6581701520261449,
 0.749124108756658,
 0.643655571590189,
 0.7324623074076184,
 0.5935879982089362,
 0.810385091315061,
 0.723096812009081,
 0.5143904741374683,
 0.736759585873189,
 0.7481088513305294,
 0.5851809245326344,
 0.7072786275992478,
 0.6384986689030397,
 0.7111482733458223,
 0.7267747762885173,
 0.63991380521118,
 0.6762610256421331,
 0.6856461188665535,
 0.7681640842330022,
 0.699705768769227,
 0.7489106947857846,
 0.6617882130142627,
 0.779562534207462,
 0.8057533629130532,
 0.46328332592097465,
 0.7673083740385225,
 0.7655979068631006,
 0.552788472557388,
 0.5491682826547895,
 0.7974549043437165,
 0.49209852724352754,
 0.7534840113272652,
 0.839444430041314,
 0.7360281329062919,
 0.6710547562706859,
 0.6512884185093959,
 0.6554384137174061,
 0.7143116634019772,
 0.714536054207265,
 0.6375762313630173,
 0.5609570713393943,
 0.7900424165002508,
 0.6166510925463078,
 0.6497521745881332,
 0.7068887188312402,
 0.6045378545626845,
 0.6527115567138568,
 0.7851769226342435,
 0.7591005239147114,
 0.8192646573021762,
 0.7233853740701655,
 0.8024867404408794,
 0.621851381995737,
 0.6366727380677197,
 0.7816354743526792,
 0.7016582119692566,
 0.6443189988471067,
 0.693050809272315,
 0.7109914304457773,
 0.6563577484157916,
 0.6948000575702348,
 0.6978628346579302,
 0.7103766019295025,
 0.6238083143751694,
 0.5467707558809465,
 0.7309945230382637,
 0.7525519000099363,
 0.532040376120289,
 0.5864661396377394,
 0.8204426298126901,
 0.6065863450993032,
 0.8314426990187621,
 0.7103513914841106,
 0.7143613962244701,
 0.7333225382909997,
 0.571869925010873,
 0.8458409996875336,
 0.6719143101732681,
 0.6553321315013662,
 0.7179200035603803,
 0.596739408425131,
 0.6152261155646468,
 0.7801367518881344,
 0.7400780264087905,
 0.6903227279997362,
 0.7546245664111109,
 0.781873417576014,
 0.6749781685236236,
 0.7821728402102289,
 0.5668672311415264,
 0.6726657400535017,
 0.5208759453011349,
 0.6654051177401789,
 0.7258062014091173,
 0.7193891785806328,
 0.580006409968039,
 0.7775942800608047,
 0.7850709916637875,
 0.6554125017751407,
 0.772477132365451,
 0.7571357448277978,
 0.681741271312555,
 0.8305092943515858,
 0.7300006577517193,
 0.7243795692029147,
 0.8302823744901209,
 0.4573909884149946,
 0.7212956702299403,
 0.5671632642970518,
 0.7685323085266282,
 0.82984884416675,
 0.5913671468221802,
 0.817581555481314,
 0.6020709455462134,
 0.6644904792671847,
 0.6570728394411549,
 0.7439133571855752,
 0.7296747714076405,
 0.6811146037930393,
 0.8235829427615584,
 0.8251279071854172,
 0.7279537078420732,
 0.7998215052062381,
 0.769394466001526,
 0.5966475876719803,
 0.5428869448251533,
 0.7507304454788357,
 0.8087067803136261,
 0.6907743880824233,
 0.624789851444455,
 0.655463658177136,
 0.6645696028770287,
 0.7980633316956984,
 0.5669703101860963,
 0.8049319672414275,
 0.7131695236377698,
 0.7417183144824357,
 0.6230155063402358,
 0.738134330946436,
 0.646861239613126,
 0.7237913796980397,
 0.7667801675431347,
 0.6486246015227938,
 0.752401960667083,
 0.695088623883389,
 0.730532526455132,
 0.5872821541896236,
 0.7740645878293942,
 0.6890450917454585,
 0.6115468366186662,
 0.7088421778827108,
 0.5470688347757735,
 0.6743344682371561,
 0.6943121525922052,
 0.7216227763189822,
 0.5953352921867878,
 0.749525756754559,
 0.6974776243396155,
 0.6621145417671916,
 0.6164732145019836,
 0.7765826836879663,
 0.7366642884244907,
 0.6538107181973998,
 0.6993197132455851,
 0.5787312803403237,
 0.7754820629410295,
 0.5037494709422241,
 0.7328665285802907,
 0.7995541508836458,
 0.706504969690205,
 0.7491077614564539,
 0.6860339877484938,
 0.5629004332203965,
 0.7521035215163507,
 0.8020217696907435,
 0.6760822589131046,
 0.6254746466765593,
 0.6953382007173199,
 0.601330726540685,
 0.710493505561081,
 0.8059719023040023,
 0.7349293400096883,
 0.8432070231331112,
 0.5955504105728746,
 0.6943480199771678,
 0.7412638358980463,
 0.6672468130767999,
 0.7749352476522392,
 0.8966398153657811,
 0.6728673289800442,
 0.8112942470610032,
 0.7129952520692033,
 0.700492744617198,
 0.6616772904163413,
 0.7362538372501002,
 0.7900755495552781,
 0.5050160002208703,
 0.6575609599953309,
 0.59008085386727,
 0.4750023539451389,
 0.6017819325301172,
 0.6666831129955475,
 0.836663052629435,
 0.6892677282227478,
 0.7979802565230087,
 0.765119958415351,
 0.48104654023331705,
 0.5696977974837034,
 0.7790487175850601,
 0.8128727726196872,
 0.6874078988888392,
 0.6663982410385092,
 0.6833002732631925,
 0.7294545062426365,
 0.5447973310182419,
 0.5425270649266933,
 0.7830324959250353,
 0.6753753777887258,
 0.7746878198748299,
 0.5411954508848045,
 0.6488166572573739,
 0.7145367053884117,
 0.5783945888195201,
 0.7248391094291046,
 0.7389073479864263,
 0.7004742239064866,
 0.6991068872988403,
 0.6246210753225516,
 0.7652220866577049,
 0.7135077453073658,
 0.6871882855463596,
 0.7592262790499099,
 0.6660043460034368,
 0.7740742135583121,
 0.5430854846411659,
 0.7223457895446047,
 0.5704932467021713,
 0.755383972052343,
 0.7020028412315544,
 0.5939625377827262,
 0.38028406708837603,
 0.736472230523864,
 0.7399459587299377,
 0.7262795270340386,
 0.5552054352366198,
 0.7870075485111566,
 0.6867472790967883,
 0.5922043601507846,
 0.8049793482130533,
 0.7418694046006687,
 0.7102574589947295,
 0.6338279042162389,
 0.516468688264794,
 0.8878806945681568,
 0.7737063039789573,
 0.733563202620472,
 0.6294623049920025,
 0.8127959954363504,
 0.7861700708912627,
 0.8808954369289906,
 0.6645562790962574,
 0.7461173826177742,
 0.7651866300318608,
 0.7642575292469047,
 0.70305554791142,
 0.7574143454900716,
 0.7010514659871032,
 0.7796350971837287,
 0.7841644661818954,
 0.8067272904273276,
 0.7828183579150305,
 0.7304039505061077,
 0.8232253632377946,
 0.66857500027987,
 0.771334203146591,
 0.6525246443583823,
 0.7543122118868019,
 0.5718179304166094,
 0.7727077088466906,
 0.7282889536797101,
 0.6533908038091429,
 0.7207552391399425,
 0.5289753187375109,
 0.6521346675185083,
 0.5143029998336566,
 0.6359437640540718,
 0.7514634724606752,
 0.6069468339497228,
 0.6198067364292895,
 0.7483315274965182,
 0.5564339237291991,
 0.6029193198953223,
 0.7199768952386492,
 0.6331247365312185,
 0.7767925171224597,
 0.7962896250703736,
 0.5991044752953802,
 0.7580132982825067,
 0.4240283784874953,
 0.6977497226097469,
 0.6485616421035616,
 0.7241842857206633,
 0.788767965168837,
 0.803675667284183,
 0.8585907533835568,
 0.7240034231665029,
 0.7485424855229049,
 0.7397239962479245,
 0.785954280659902,
 0.7806574104459361,
 0.5408895220905737,
 0.6709558619080016,
 0.6783824228744328,
 0.7626714431668105,
 0.8271176669439669,
 0.7662749455611506,
 0.7137751121182824,
 0.7886744044187239,
 0.4147770766317841,
 0.7050312319229364,
 0.7188063865774943,
 0.6051392847589088,
 0.7008832042165742,
 0.816491749576651,
 0.4830191580576554,
 0.8062608804540494,
 0.7235529788886023,
 0.7160825470516308,
 0.6850397133062905,
 0.7142620714981697,
 0.711177687174203,
 0.7540945467893072,
 0.7363611577130595,
 0.8083778175501392,
 0.5989585683051116,
 0.6831396268717593,
 0.5720869507174531,
 0.7063239751278686,
 0.6970704977288422,
 0.7284753791308967,
 0.7106311935687195,
 0.8722391612308813,
 0.8299899406963678,
 0.7234376131979587,
 0.6923462086546119,
 0.7289708506535821,
 0.8352439309293064,
 0.7132714520111909,
 0.57659920100406,
 0.8503649593861617,
 0.5464971494549392,
 0.6480720436770894,
 0.8386809680213443,
 0.7299580642074903,
 0.7991391883452361,
 0.7504499364667526,
 0.7228368587793838,
 0.7894268760111918,
 0.7623082315322688,
 0.8341790227098482,
 0.6036294118996716,
 0.5899799804783914,
 0.7216539138791078,
 0.5152382011495742,
 0.7230429159153231,
 0.5292608358824961,
 0.776786479409171,
 0.6600536137860218,
 0.8109713947256985,
 0.6126742740528579,
 0.7137296000569509,
 0.6585178462244305,
 0.7001453543021547,
 0.3847431860853734,
 0.7714107098830779,
 0.7467198973213636,
 0.7881436650595477,
 0.7112945081887724,
 0.7812363866645644,
 0.7414480842604615,
 0.6265205375406495,
 0.8045376877656651,
 0.4728669359400801,
 0.721913410800816,
 0.7635596679677498,
 0.7651585473322396,
 0.5177585742602507,
 0.4961529601174127,
 0.789522919879263,
 0.666934663189545,
 0.6276051245577277,
 0.8297219919583426,
 0.6514623584700137,
 0.56436533432242,
 0.8403015369009255,
 0.7729043525171331,
 0.7134184415488811,
 0.6160035840655581,
 0.7759459539795137,
 0.74258280861464,
 0.5912476816870255,
 0.5306581669086565,
 0.7958780136470557,
 0.8196448464233985,
 0.6974638635380187,
 0.6933146349232266,
 0.5844453690332344,
 0.7770209141060879,
 0.5760033931622364,
 0.5563137042571153,
 0.5734139383753818,
 0.6332779757398006,
 0.7227267538877393,
 0.6773318754567891,
 0.7519031101066653,
 0.6450976953675132,
 0.5287346936430062,
 0.6219203411482652,
 0.675746476043662,
 0.8106119033654096,
 0.6608137922289532,
 0.59602048225045,
 0.6793790302608972,
 0.6132264851568232,
 0.5721992082428675,
 0.7604161518376341,
 0.5354767741512576,
 0.7096330748081285,
 0.7577387735627038,
 0.6395013153380951,
 0.6123761529533124,
 0.5912631935973622,
 0.5172867142469881,
 0.5789637688966207,
 0.6141968963729514,
 0.6359847638701916,
 0.5528527044286369,
 0.6531725319555847,
 0.6424283092974039,
 0.7353499931489171,
 0.7492293202053023,
 0.5427576473140695,
 0.33791419116250243,
 0.8041371512665274,
 0.767334501433651,
 0.797461167831798,
 0.6623907962770428,
 0.7357508665425487,
 0.7222985667544343,
 0.7164204225980062,
 0.5657355041777765,
 0.796426985450899,
 0.5127598448073767,
 0.7035088876074237,
 0.7007783694492151,
 0.7079269768502437,
 0.6127107750166183,
 0.6643216435472538,
 0.5922166586393958,
 0.7410371785524601,
 0.6919384209479967,
 0.552125244992717,
 0.651582209049862,
 0.7731208796533214,
 0.7734515751139203,
 0.6523096673721012,
 0.8349632463281449,
 0.7893159934694927,
 0.6769074124363608,
 0.7463267142794663,
 0.6584411168520025,
 0.7213349966153287,
 0.7504355403452321,
 0.5683701933518976,
 0.6957998264765017,
 0.7244816152549427,
 0.658814281226755,
 0.7155272626690242,
 0.8365608831805927,
 0.5991210118038534,
 0.6834694945696463,
 0.7170981403677945,
 0.5078914072765806,
 0.5337257785697305,
 0.7333223214233726,
 0.7734940923464805,
 0.6101136455280138,
 0.7218348408856172,
 0.6661461983057866,
 0.725163245857761,
 0.7005340592179448,
 0.8084488792588315,
 0.6507173677725739,
 0.728275091123738,
 0.7764481452813997,
 0.7383922777844178,
 0.8427145297779819,
 0.6082029163371161,
 0.8161238880001048,
 0.7707403491831191,
 0.6834693119670356,
 0.6720619609209648,
 0.6920330476745971,
 0.5936318481916563,
 0.7607361919775728,
 0.6867365132309222,
 0.7440184534518044,
 0.6120762042376994,
 0.6906350692798995,
 0.7906562107251348,
 0.6678294651207579,
 0.5670413303171071,
 0.8345311954435589,
 0.6996318517208073,
 0.5751723652950673,
 0.8237174143303174,
 0.7032218469548742,
 0.7889622650561998,
 0.5451126771485149,
 0.692212566139157,
 0.6599828669180825,
 0.808768422811886,
 0.6892054868511379,
 0.7133399848110319,
 0.7851109748989701,
 0.5882425845948073,
 0.7217027106342986,
 0.6312931150695966,
 0.5589456828159913,
 0.52602227422131,
 0.7210867264359355,
 0.7354898627698059,
 0.7310060143839983,
 0.5630343603528454,
 0.6867491337334997,
 0.6016004652601282,
 0.6017935753003856,
 0.6490253455617916,
 0.844015837445703,
 0.8530887441083269,
 0.7168598710450949,
 0.7071837006066641,
 0.6680002955357004,
 0.7706349122593158,
 0.6096273681149267,
 0.806081803088286,
 0.6521476719142247,
 0.7141691737308764,
 0.7468560471909451,
 0.7764301537991872,
 0.7354725070890279,
 0.5947874828767039,
 0.7434993328359814,
 0.7233085950958006,
 0.6511642911144938,
 0.6124464263239944,
 0.728936234393768,
 0.6779210043154704,
 0.8248624250368455,
 0.6700656486870422,
 0.6362312057214969,
 0.5535161628419847,
 0.6963533814156061,
 0.626976696055763,
 0.6716835718369223,
 0.47667730060390545,
 0.7110345905042639,
 0.5579947814437414,
 0.7364455847945262,
 0.793557490714161,
 0.5454518921351175,
 0.7763537224675223,
 0.7507204044288844,
 0.5542519872803708,
 0.5195736298283345,
 0.5988314882824842,
 0.6894372727821254,
 0.7525664447750734,
 0.8316393003105388,
 0.7503723064042399,
 0.5826986076094871,
 0.6813406836936442,
 0.7436656756679418,
 0.759444339538399,
 0.5418160257021726,
 0.7842285045939257,
 0.664309978688628,
 0.59399966099551,
 0.8199237972696802,
 0.7934888284312285,
 0.5799041976564947,
 0.7912358498991224,
 0.7247351904362265,
 0.6289277929908766,
 0.7476645701873061,
 0.6371039148861105,
 0.6654127207849185,
 0.7078569963459065,
 0.7847626121357765,
 0.7340003685952439,
 0.6652135010931144,
 0.7126656440526971,
 0.6325773675232977,
 0.5683779774816509,
 0.6660087647423063,
 0.6898101298909574,
 0.7468085597959889,
 0.647552407395307,
 0.8190155435374162,
 0.732714515193804,
 0.6123083310090593,
 0.7407750059494609,
 0.6794796960831049,
 0.769677190849161,
 0.8287688837751264,
 0.7031631815131312,
 0.6777332375964427,
 0.8844867960279377,
 0.7458100013003348,
 0.8331994216340416,
 0.7160123201089115,
 0.7884420877725415,
 0.7275432602739211,
 0.7971797808684025,
 0.7035048123635466,
 0.7499190898919867,
 0.8050697138036982,
 0.5099227904973864,
 0.675171127369012,
 0.7372149546179492,
 0.8265771312913384,
 0.6016037933311211,
 0.7210366336916365,
 0.6784869171754544,
 0.5306171087510062,
 0.7061386589265768,
 0.7884107305717759,
 0.7143298963206617,
 0.7633314097431462,
 0.5930393960126932,
 0.6318161340363644,
 0.6593611887660403,
 0.716157981106737,
 0.7320436288307395,
 0.6593682018663507,
 0.6764306378089029,
 0.7828446475294037,
 0.7470085947310494,
 0.7444539324572292,
 0.6198036178205222,
 0.5492866776698124,
 0.6692964205251024,
 0.6332975397509623,
 0.7971601151846075,
 0.6900787640508796,
 0.6656263040285241,
 0.7477315180444548,
 0.48052007188454127,
 0.7598854904049697,
 0.6754116285250129,
 0.6019844952473263,
 0.7619393459341631,
 0.7162427525434584,
 0.7097392977820662,
 0.6924265263294935,
 0.7587939001717979,
 0.7994105718691918,
 0.8335497607494442,
 0.8211593041546483,
 0.5607963036061037,
 0.677517203789906,
 0.5936840216021644,
 0.707999314127878,
 0.7251096986765263,
 0.6458961093635509,
 0.6997254279733424,
 0.7984105706664553,
 0.7778839506075556,
 0.5783947184689209,
 0.7338686515880648,
 0.680816995873608,
 0.6963121823362358,
 0.5033637651097072,
 0.7927306926377284,
 0.7663975642059095,
 0.6411119747873528,
 0.7907711959518905,
 0.5123998035376496,
 0.5461639540191989,
 0.6737701061734327,
 0.6529683838569746,
 0.7731899445559456,
 0.5981454952795189,
 0.7467320917652558,
 0.3768636380049616,
 0.6716233092742581,
 0.7569662162626667,
 0.6487058852013013,
 0.5923755245977305,
 0.801786784289088,
 0.776924897118618,
 0.5897045686020161,
 0.7440963801169109,
 0.6812972409086469,
 0.6739019180618508,
 0.8211760887307296,
 0.6997213382612977,
 0.6574069053974876,
 0.6134731538914441,
 0.7494707192120154,
 0.7278571684845774,
 0.6816360838496881,
 0.6518373599763412,
 0.60291754651948,
 0.6093188778263994,
 0.6480559088530728,
 0.7800422785981844,
 0.8000893276667178,
 0.7461027211170558,
 0.7453179397897886,
 0.7043069300291365,
 0.7311459487170227,
 0.723476528405216,
 0.8062917627365344,
 0.6151451844850249,
 0.7265698689560955,
 0.6796111817662525,
 0.78778524519171,
 0.76619069867947,
 0.7063273191617222,
 0.8759838656824691,
 0.7090999294401142,
 0.8450374730464023,
 0.7859314169884876,
 0.6898229140894939,
 0.7120021368395766,
 0.6719105652774453,
 0.690053542972608,
 0.7209375815736727,
 0.5948966543717862,
 0.75660717321011,
 0.6543683728238004,
 0.7118105436793537,
 0.5460673262184901,
 0.7050574679342652,
 0.5864582829766819,
 0.5832744397939751,
 0.7933434101242609,
 0.8023111148763674,
 0.770034820687536,
 0.5889772927976318,
 0.7947051799595828,
 0.6268362139763504,
 0.7933988938826578,
 0.770230895643939,
 0.7958205100440827,
 0.6065583996263965,
 0.7160482194320357,
 0.7284706195989034,
 0.7119220784782763,
 0.7544532063325918,
 0.6989768090960568,
 0.829599322995402,
 0.7129598474093709,
 0.8043418620394986,
 0.6653091593191173,
 0.6577629421402018,
 0.49687697447424095,
 0.7598435660873385,
 0.615956682826551,
 0.7061962943507305,
 0.8693022458885331,
 0.7622416000147757,
 0.8009682194330373,
 0.685780188013283,
 0.6042726404226162,
 0.5073467163755627,
 0.6759148952853753,
 0.5895884622280275,
 0.7303193475859638,
 0.7905910175127142,
 0.6689783213223764,
 0.684948896177724,
 0.7000234083286312,

In [66]:
np.argmax(scores)

362

In [67]:
scores[np.argmax(scores)]

0.8966398153657811

In [68]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.2, random_state= np.argmax(scores))
lr = LinearRegression()
pipe = make_pipeline(colum_trans, lr)
pipe.fit(x_train, y_train)
y_pred = pipe.predict(x_test)
print(r2_score(y_test, y_pred), i)

0.8966398153657811 999

In [69]:
pickle.dump(pipe, open('LinearRegressionModel.pkl', "wb"))

In [70]:
df.sample()

                 name  company  year   Price  kms_driven fuel_type
98  Hyundai i10 Magna  Hyundai  2014  265000       18000    Petrol

In [71]:
pipe.predict(pd.DataFrame([['Toyota Etios Liva', 'Toyota', '2014', '24652','Petrol']], columns= ['name', 'company', 'year', 'kms_driven', 'fuel_type']))

array([[316126.30148243]])